/* Start Global Rules */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}
ul,ol {
    list-style: none;
}
/* End Global Rules */
/* Start Components */
.container {
    margin: auto;
    padding: 0 15px;
}
/* End Components */
/* Start Variables */

:root{
    --main-color: #19c8fa;
}

/* End Variables */
/* Start Media Queries */

/* Mobile */
@media (max-width:767px){
    header .container nav ul {
      display: none !important; 
    }
}

/* Small Screens */

@media (min-width: 768px) and  (max-width: 991px) {
    .container{
        width: 750px
    }
}

/* Medium Screens */

@media (min-width: 992px) {
    .container{
        width: 970px 
    }
}

/* Large Screens */

@media (min-width: 1200px) {
    .container{
        width: 1170px
    }

}
/* Custom */
@media (min-width:768px) {
  header .container nav .toggle  {
      display: none;
  }
}

/* End Media Queries */
/* Start Header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::before {
  content: '';
  background-color: #A2A2A2;
  height: 1px;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: -1;
}
header .container .logo img {
  height: 40px;
}
header .container nav {
  display: flex;
  justify-content: end;
  align-items: center;
}
header .container nav .toggle i {
    color: white;
    font-size: 22px;
}
header .container nav ul {
  display: flex;
  flex: 1;
}
header .container nav ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
  padding: 40px 10px;
  display: block;
  position: relative;
  transition: 0.3s;
}
header .container nav ul li a.active {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .search {
  width: 40px;
  height: 30px;
  margin-left: 30px;
  position: relative;  
  border-left: 1px solid white;
}
header .container nav .search i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End Header */

